.item {
    $accent-color: #c62828;
    $secondary-color: #fff;

    .md-layout-item {
        height: 40px;
        margin-top: 8px;
        margin-bottom: 8px;
        transition: 0.3s;
        margin: 0.7em 1em;
        padding: 0 0px !important;
    }

    .md-list-item-text {
        div{
            line-height: 2.5em !important;
        }
    }

    .color-light {
        background-color: rgba(255, 255, 255, 0.19) !important;
        color: #fff !important;
        box-shadow: none !important;
    }

    .text {
        color: grey;
        color: rgba(17, 17, 17, 0.71);
        text-align: left;
    }

    .border-rounded {
        border-radius: 0.6em;
        top: 1em;
    }

    .md-accent {
        background-color: $accent-color !important;
    }

    .md-secondary {
        background-color: $secondary-color !important;
    }
}