.item {
    $accent-color: #B71C1C;
    $secondary-color: #fff;

    .md-layout-item {
        height: 40px;
        transition: 0.3s;
        margin: 0.7em 1em;
        padding: 0 0px !important;
        @media(max-width: 960px) {
            display: table;
        }
    }

    .md-card-content:last-of-type {
        padding-bottom: 1em;
        margin-top: 3%;
    }

    .md-list {
        display: contents !important;
    }

    .md-list-item{
        &.answer-list{
            display: table;
            margin-top: 1%;
            margin-bottom: -1%;
            @media(min-width: 1500px){
                margin-bottom: -2%;
            }
        }
    }

    .md-list-item-container{
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .color-light {
        background-color: rgba(255, 255, 255, 0.19) !important;
        color: #fff !important;
        box-shadow: none !important;
    }

    .text {
        color: grey;
        color: rgba(17, 17, 17, 0.71);
        text-align: left;
        margin-top: 1em;
    }

    .border-rounded {
        border-radius: 0.6em;
        top: 1em;
    }

    .md-accent {
        background-color: $accent-color !important;
    }

    .md-secondary {
        background-color: $secondary-color !important;
    }

    // custom
    .answer-submit{
        margin-top: 2em;
    }

    .md-toolbar{
        top: 1.7em!important;
    }

}