<section class="item" v-if="render">
  <div class="md-layout md-gutter md-alignment-center">
    <div class="md-layout-item md-medium-size-48 md-small-size-90 md-xsmall-size-100">
      <md-toolbar class="md-accent md-dense border-rounded">
        <h3 class="md-title">Question # {{ index }}</h3>
      </md-toolbar>
      <md-card>
        <md-card-content class="text">
          {{ item.Question }}
        </md-card-content>
      </md-card>
    </div>

    <div class="md-layout-item md-medium-size-48 md-small-size-90 md-xsmall-size-100">
      <md-toolbar class="md-accent md-dense border-rounded">
        <h3 class="md-title">Choose right option</h3>
      </md-toolbar>
      <md-card>
        <md-card-content>
          <md-list v-for="Answer in item.Answers" :key="Answer.text">
            <md-list-item class="answer-list">
              <md-radio v-model="answer" :value="Answer.text" :disabled="!beforeSubmit || item.isDone" />{{Answer.text}}</md-radio>
              <md-icon v-if="(!beforeSubmit || item.isDone) && Answer.right">check</md-icon>
              <md-icon v-if="(!beforeSubmit && answer === Answer.text && answer !== item.Answers.find(answer => answer.right).text) || (item.isDone && item.wrongAnswer === Answer.text)">close</md-icon>
            </md-list-item>
          </md-list>

          <div class="md-toolbar-section-end answer-submit">
            <md-button class="md-raised" :disabled="!answer"
              v-bind:class="[beforeSubmit ? 'md-secondary' : 'md-accent']" @click="checkSolution()">{{buttonText}}
            </md-button>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</section>